@charset "UTF-8";

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 100;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"),
		url(../fonts/NotoSansKR-Thin.eot),
		url(../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"),
		url(../fonts/NotoSansKR-Thin.woff) format("woff"),
		url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans Light"), local("NotoSans-Light"),
		url(../fonts/NotoSansKR-Light.eot),
		url(../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"),
		url(../fonts/NotoSansKR-Light.woff) format("woff"),
		url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"),
		url(../fonts/NotoSansKR-DemiLight.eot),
		url(../fonts/NotoSansKR-DemiLight.eot?#iefix)
		format("embedded-opentype"), url(../fonts/NotoSansKR-DemiLight.woff)
		format("woff"), url(../fonts/NotoSansKR-DemiLight.otf)
		format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"),
		url(../fonts/NotoSansKR-Regular.eot),
		url(../fonts/NotoSansKR-Regular.eot?#iefix)
		format("embedded-opentype"), url(../fonts/NotoSansKR-Regular.woff)
		format("woff"), url(../fonts/NotoSansKR-Regular.otf)
		format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"),
		url(../fonts/NotoSansKR-Medium.eot),
		url(../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"),
		url(../fonts/NotoSansKR-Medium.woff) format("woff"),
		url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"),
		url(../fonts/NotoSansKR-Bold.eot),
		url(../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"),
		url(../fonts/NotoSansKR-Bold.woff) format("woff"),
		url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Bold.woff2) format('woff2'),
       url(../fonts/NanumGothic-Bold.woff) format('woff'),
       url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Regular.woff2) format('woff2'),
       url(../fonts/NanumGothic-Regular.woff) format('woff'),
       url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/NanumGothic-ExtraBold.eot);
  src: url(../fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(../fonts/NanumGothic-ExtraBold.woff) format('woff'),
       url(../fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}

body {
	overflow-x: hidden;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	line-height: 1.3;
}

img {
	border: 0;
	max-width: 100%;
	vertical-align: top;
}

ul {
	list-style: none;
}

em {
	font-style: normal;
}

input, select, button {
	vertical-align: middle;
}


label, button {
	cursor: pointer;
}

a {
	color: #333;
	text-decoration: none;
}

/* �迵�� */
.waLogoDiv{
	width: 25%;
	margin-top: 20px;
	cursor:pointer;
	float: right;
	position: relative;
}
.wa{
	float: right;
}
.footer_con{
	width: 1260px;
	padding-bottom: 100px;
	margin: 0 auto;
}
.footer_con_logo{
	margin-top:20px;
	width:25%; 
	float: left;
}
.footer_con_text{
	width:50%; 
	float: left;
}
/* end */

.is-hidden {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
}

.is-drawer-open body {
	overflow-y: auto;
	height: 100%;
}

.skip_navigation a {
	position: absolute;
	top: -50px;
	left: 0;
	z-index: 5000;
	width: 100%;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	font-size: 15px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
	text-align: center;
}

.skip_navigation a:focus, .skip_navigation a:hover, .skip_navigation a:active
	{
	top: 0;
}

.c-wrap {
	position: relative;
	max-width: 1920px;
	margin: 210px auto 0 auto;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.c-banner.c-banner--active {
	top: 0;
}
.c-banner.c-banner--active .c-banner__box {
	visibility: visible;
}

.c-banner.c-banner--active .c-banner__trigger {
	background: #44a900
		url('../images/common/c-banner__trigger--active.png') no-repeat center
		center;
}

.is-banner-active .c-wrap {
	margin-top: 90px;
}

.is-banner-active .c-header {
	top: 0;
}

.c-banner {
	position: fixed;
	top: -120px;
	left: 0;
	width: 100%;
	height: 120px;
	background-color: #1b5c93;
	z-index: 300;
	-webkit-transition: top .5s;
	-ms-transition: top .5s;
	-moz-transition: top .5s;
	transition: top .5s;
}

.c-banner__aligner {
	position: relative;
	width: 1260px;
	height: 100%;
	margin: 0 auto;
}

.c-banner__box {
	visibility: hidden;
	position: relative;
	width: 650px;
	height: 100%;
	padding: 10px 0;
	margin: 0 auto;
}

.c-banner .bx-pager {
	position: absolute;
	bottom: 11px;
	left: 0;
	width: 100%;
	font-size: 0;
	text-align: center;
}
.c-banner__list  a {
	display: block;
}
.c-banner__list  img {
	max-height: 100px;
}
.c-banner .bx-pager-item {
	display: inline-block;
	vertical-align: middle;
}

.c-banner .bx-pager-item+.bx-pager-item {
	margin-left: 8px;
}

.c-banner .bx-pager-link {
	display: block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #4a6c95;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.c-banner .bx-pager-link.active {
	width: 15px;
	height: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #fff;
}

.c-banner .bx-controls-direction>a {
	display: block;
	position: absolute;
	top: 50%;
	width: 27px;
	height: 44px;
	text-indent: -9999px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.c-banner .bx-prev {
	left: -95px;
	background: url('../images/common/c-banner__arrow--prev.png') no-repeat;
}

.c-banner .bx-next {
	right: -95px;
	background: url('../images/common/c-banner__arrow--next.png') no-repeat;
}

.c-banner__close {
	display: block;
	position: absolute;
	top: 16px;
	right: -37px;
	width: 37px;
	height: 37px;
	background: url('../images/common/c-banner__close.png') no-repeat center
		center;
	text-indent: -9999px;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: transform .2s;
	-ms-transition: transform .2s;
	-moz-transition: transform .2s;
	transition: transform .2s;
}

.c-banner__close:focus, .c-banner__close:hover {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.c-banner__trigger {
	display: block;
	position: absolute;
	right: 0;
	bottom: -20px;
	width: 26px;
	height: 20px;
	background: #44a900 url('../images/common/c-banner__trigger.png')
		no-repeat center center;
	text-indent: -9999px;
}

.c-header {
	overflow: hidden;
	position: fixed;
	top: 120px;
	left: 50%;
	width: 100%;
	max-width: 1920px;
	height: 90px;
	background: -webkit-linear-gradient(#e7e7e7, rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(#e7e7e7, rgba(255, 255, 255, 0));
	background: -ms-linear-gradient(#e7e7e7, rgba(255, 255, 255, 0));
	background: linear-gradient(#e7e7e7, rgba(255, 255, 255, 0));
	background-color: #eee;
	background-position: left 90px;
/* 	-webkit-transition: top .5s, height .2s;
	-ms-transition: top .5s, height .2s;
	transition: top .5s, height .2s; */
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 200;
	-webkit-transition: top .5s;
	-ms-transition: top .5s;
	-moz-transition: top .5s;
	transition: top .5s;
}

.c-header.c-header--active {
	overflow: inherit;
	height: 146px;
}

.c-header__aligner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background-color: #fff;
	border-bottom: 1px solid #ececec;
	z-index: 10;
}

.c-header__align {
	position: relative;
	width: 1260px;
	height: 100%;
	margin: 0 auto;
}

.c-h1 {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.c-logo {
	display: block;
}

.c-logo img {
	max-width: 100%;
	-webkit-transition: max-width .3s;
	-ms-transition: max-width .3s;
	-moz-transition: max-width .3s;
	transition: max-width .3s;
}

.c-navi {
	position: absolute;
	top: 0;
	right: 32px;
}

.c-navi__aligner {
	overflow: hidden;
	padding: 0 5px;
	border: 1px solid #e6e6e6;
	border-top: 0;
}

.c-navi__item {
	float: left;
}

.c-navi__link {
	display: block;
	padding: 3px 10px;
	color: #333;
	font-size: 12px;
	font-family: 'Noto Sans Korean', sans-serif;
}

.c-navi__link:focus, .c-navi__link:hover {
	color: #0096dd;
}

.c-gnb {
	position: absolute;
	bottom: -1px;
	right: 0;
}

.c-gnb__list:before, .c-gnb__list:after {
	content: " ";
	display: table;
}

.c-gnb__list:after {
	clear: both;
}

.c-gnb__item {
	float: left;
}

.c-gnb__link {
	display: block;
	padding: 15px 40px 25px 40px;
	color: #222;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
/* 	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s; */
}

.c-gnb__link:focus {
	color: #1b5c93;
}

.c-gnb__item.c-gnb__item--active .c-gnb__link, .c-gnb__link:hover {
	background-color: #eee;
	color: #0096dd;
}

.c-gnb__item.c-gnb__item--active .c-depth2 {
	opacity: 1;
	visibility: visible;
}

.c-depth2 {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 66px;
	right: 0;
	width: 1260px;
	height: auto;
	font-size: 0;
	text-align: center;
	z-index: 20;
}

.c-depth2__list {
	display: inline-block;
	position: relative;
}

.c-depth2__list:before, .c-depth2__list:after {
	content: " ";
	display: table;
}

.c-depth2__list:after {
	clear: both;
}

.c-depth2__item {
	float: left;
}

.c-depth2__item.c-depth2__item--depth3 .c-depth2__link:after {
	content: " ";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 8px;
	background: url('../images/common/c-depth2__item--depth3.png') no-repeat;
	vertical-align: middle;
}

.c-gnb__item.c-gnb__item:nth-child(2) .c-depth2__link {
	padding: 16px 20px;
}
.c-depth2__link {
	display: block;
	min-width: 84px;
	min-height: 56px;
	padding: 16px 30px;
	color: #333;
	font-size: 17px;
	font-family: 'Noto Sans Korean', sans-serif;
	font-weight: 500;
	text-align: center;
}

.c-depth2__item.c-depth2__item--active .c-depth2__link, .c-depth2__link:focus,
	.c-depth2__link:hover {
	background-color: #c3dbe6;
	height: 100%;
}

.c-depth2__item.c-depth2__item--active .c-depth3 {
	display: block;
}

.c-depth3 {
	display: none;
	background-color: #abcbda;
	padding: 5px 0;
}

.c-depth3__link {
	display: block;
	padding: 10px 20px;
	color: #333;
	font-size: 16px;
	font-family: 'Noto Sans Korean', sans-serif;
	font-weight: 500;
	text-align: left;
}

.c-depth3__link:focus, .c-depth3__link:hover {
	background-color: #89b2c8;
}

.c-drawer.c-drawer--active {
	opacity: 0;
	visibility: hidden;
}

.c-drawer.c-drawer--active .c-drawer__aligner {
	right: -300px;
}

.c-drawer {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity .4s, visibility .4s;
	-ms-transition: opacity .4s, visibility .4s;
	transition: opacity .4s, visibility .4s;
	z-index: 500;
}

.c-drawer__aligner {
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	right: -300px;
	width: 100%;
	max-width: 300px;
	height: 100%;
	padding-bottom: 50px;
	background-color: #154772;
	-webkit-transition: right .4s;
	-ms-transition: right .4s;
	transition: right .4s;
}

.c-drawer__trigger {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 53px;
	height: 53px;
}

.c-drawer__trigger-align {
	display: table-cell;
	vertical-align: middle;
}

.c-drawer__trigger-align>span {
	display: block;
	width: 19px;
	height: 3px;
	background-color: #7a7a7a;
	text-indent: -9999px;
	margin: 0 auto;
}

.c-drawer__trigger-align>span+span {
	margin-top: 3px;
}

.c-drawer__headings {
	position: relative;
	height: 52px;
	padding: 0 18px;
}

.c-drawer__heading {
	padding: 16px 0;
	color: #3bcaff;
	font-size: 18px;
	font-weight: 700;
}

.c-drawer__close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 52px;
	height: 52px;
	background: url('../images/common/c-drawer__close.png') no-repeat center
		center;
	background-size: 16px auto;
	text-indent: -9999px;
}

.m-gnbs {
	border-top: 1px solid #0c3559;
}

.m-gnb__item {
	border-bottom: 1px solid #0c3559;
}

.m-gnb__item.m-gnb__item--active .m-depth2 {
	overflow: inherit;
	height: 100%;
}

.m-gnb__item.m-gnb__item--active .m-gnb__link:before {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.m-gnb__link {
	overflow: hidden;
	display: block;
	position: relative;
	padding: 10px 18px;
	border-bottom: 1px solid #0c3559;
	color: #fff;
	font-size: 18px;
}

.m-gnb__link:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	right: 18px;
	width: 12px;
	height: 8px;
	margin-top: -4px;
	background: url('../images/common/m-gnb.png') no-repeat;
	background-size: 12px auto;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: transform .2s;
	-ms-transition: transform .2s;
	-moz-transition: transform .2s;
	transition: transform .2s;
}

.m-depth2 {
	overflow: hidden;
	height: 0;
	background-color: #113a5e;
	-webkit-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}

.m-depth2__item+.m-depth2__item {
	border-top: 1px solid #0b3254;
}

.m-depth2__item.m-depth2__item--active .m-depth3 {
	overflow: inherit;
	height: 100%;
}

.m-depth2__item.m-depth2__item--depth3 .m-depth2__link:before {
	display: block;
}

.m-depth2__item.m-depth2__item--active .m-depth2__link:before {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.m-depth2__link {
	overflow: hidden;
	display: block;
	position: relative;
	padding: 8px 10px 8px 30px;
	color: #fff;
	font-size: 14px;
}

.m-depth2__link:before {
	content: " ";
	display: none;
	position: absolute;
	top: 50%;
	right: 16px;
	width: 9px;
	height: 6px;
	margin-top: -3px;
	background: url('../images/common/m-depth2.png') no-repeat;
	background-size: 9px auto;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: transform .2s;
	-ms-transition: transform .2s;
	transition: transform .2s;
}

.m-depth3 {
	overflow: hidden;
	height: 0;
	background-color: #0e2e4b;
	-webkit-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}

.m-depth3__item+.m-depth3__item {
	border-top: 1px solid #08253d;
}

.m-depth3__link {
	display: block;
	padding: 6px 10px 6px 45px;
	color: #fff;
	font-size: 13px;
}

.c-drawer__links {
	padding: 8px 14px 0 14px;
}

.c-drawer__links:before, .c-drawer__links:after {
	content: " ";
	display: table;
}

.c-drawer__links:after {
	clear: both;
}

.c-drawer__link {
	float: left;
	position: relative;
	width: 25%;
	padding-top: 62px;
}

.c-drawer__icon {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	width: 100%;
	text-align: center;
}

.c-drawer__link:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 57px;
	height: 57px;
	-webkit-border-radius: 57px;
	border-radius: 57px;
	background-color: #0f3352;
	background-repeat: no-repeat;
	background-size: 24px auto;
	background-position: center center;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.c-drawer__link.c-drawer__link-1:before {
	background-image: url('../images/common/c-quick-1.png');
}

.c-drawer__link.c-drawer__link-2:before {
	background-image: url('../images/common/c-quick-2.png');
}

.c-drawer__link.c-drawer__link-3:before {
	background-image: url('../images/common/c-quick-3.png');
}

.c-drawer__link.c-drawer__link-4:before {
	background-image: url('../images/common/c-quick-4.png');
}

.c-drawer__icon>span {
	display: table-cell;
	width: 100%;
	height: 30px;
	color: #fff;
	font-size: 12px;
	vertical-align: middle;
}

.c-container {
	position: relative;
	z-index: 10;
}

.c-quick {
	opacity: 1;
	visibility: visible;
	position: fixed;
	top: 50%;
	right: 0;
	margin-top: -10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: opacity .2s, visibility .2s;
	-ms-transition: opacity .2s, visibility .2s;
	transition: opacity .2s, visibility .2s;
	z-index: 100;
}

.c-quick__list {
	width: 120px;
}

.c-quick__list:before, .c-quick__list:after {
	content: " ";
	display: table;
}

.c-quick__list:after {
	clear: both;
}

.c-quick__item {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	float: right;
	width: 100%;
}

.c-quick__item+.c-quick__item {
	margin-top: 10px;
}

.c-quick__link {
	display: table-cell;
	width: 120px;
	height: 58px;
	padding: 0 10px 0 55px;
	background-color: rgba(218, 218, 218, .6);
	background-position: 16px center;
	background-repeat: no-repeat;
	-webkit-border-top-left-radius: 58px;
	border-top-left-radius: 58px;
	-webkit-border-bottom-left-radius: 58px;
	border-bottom-left-radius: 58px;
	color: #333;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	vertical-align: middle;
/* 	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s; */
	text-align: left;
	outline: none;
}

.c-quick__link:focus, .c-quick__link:hover {
	width: 150px;
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
}

.c-quick.c-quick--main .c-quick__item.c-quick__item-1 .c-quick__link {
	background-image: url('../images/common/c-quick-1--active.png');
}

.c-quick.c-quick--main .c-quick__item.c-quick__item-2 .c-quick__link {
	background-image: url('../images/common/c-quick-2--active.png');
}

.c-quick.c-quick--main .c-quick__item.c-quick__item-3 .c-quick__link {
	background-image: url('../images/common/c-quick-3--active.png');
}

.c-quick.c-quick--main .c-quick__item.c-quick__item-4 .c-quick__link {
	background-image: url('../images/common/c-quick-4--active.png');
}

.c-quick.c-quick--main .c-quick__link {
	background-color: rgba(0, 0, 0, .4);
	color: #fff;
}

.c-quick.c-quick--main .c-quick__link:focus, .c-quick.c-quick--main .c-quick__link:hover
	{
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
}

.c-quick__item.c-quick__item-1 .c-quick__link {
	background-image: url('../images/common/c-quick-1.png');
}

.c-quick__item.c-quick__item-1 .c-quick__link:focus, .c-quick__item.c-quick__item-1 .c-quick__link:hover
	{
	background-image: url('../images/common/c-quick-1--active.png');
}

.c-quick__item.c-quick__item-2 .c-quick__link {
	background-image: url('../images/common/c-quick-2.png');
}

.c-quick__item.c-quick__item-2 .c-quick__link:focus, .c-quick__item.c-quick__item-2 .c-quick__link:hover
	{
	background-image: url('../images/common/c-quick-2--active.png');
}

.c-quick__item.c-quick__item-3 .c-quick__link {
	background-image: url('../images/common/c-quick-3.png');
}

.c-quick__item.c-quick__item-3 .c-quick__link:focus, .c-quick__item.c-quick__item-3 .c-quick__link:hover
	{
	background-image: url('../images/common/c-quick-3--active.png');
}

.c-quick__item.c-quick__item-4 .c-quick__link {
	background-image: url('../images/common/c-quick-4.png');
}

.c-quick__item.c-quick__item-4 .c-quick__link:focus, .c-quick__item.c-quick__item-4 .c-quick__link:hover
	{
	background-image: url('../images/common/c-quick-4--active.png');
}

.c-quick-tops {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	-webkit-transition: bottom .3s;
	-ms-transition: bottom .3s;
	transition: bottom .3s;
}

.c-quick-top__aligner {
	position: relative;
	width: 1260px;
	margin: 0 auto;
}

.c-quick-top {
	position: absolute;
	display: block;
	bottom: 25px;
	right: 25px;
	width: 52px;
	height: 52px;
	-webkit-border-radius: 52px;
	-ms-border-radius: 52px;
	border-radius: 52px;
	background-color: rgba(0, 0, 0, .4);
	background-image: url('../images/common/c-quick-top.png');
	background-position: center center;
	background-repeat: no-repeat;
	text-indent: -9999px;
/* 	-webkit-transition: background-color .3s;
	-ms-transition: background-color .3s;
	transition: background-color .3s; */
}

.c-quick-top:focus, .c-quick-top:hover {
	background-color: rgba(0, 0, 0, .8);
}

.c-footer {
	padding-top: 43px;
	border-top: 1px solid #e8e8e8;
}

.c-footer.c-footer--none {
	margin-top: 0;
}

.footeratag {
    color:  #cacaca;
    font-size: 14px;
	font-weight: 700;
    text-decoration: none;
}

.footeratag:hover 
{
     color: #cacaca; 
     font-size: 14px;
	font-weight: 700;
     text-decoration:none; 
     cursor:pointer;  
}

.family-site {
	width: 1260px;
	margin: 0 auto;
	padding-bottom: 80px;
}

.family-site__link {
	display: block;
	border: 1px solid #d4d4d4;
	text-align: center;
}

.family-site__link img {
	max-width: 100%;
	max-height: 100%;
}

.family-site__controls {
	margin-top: 15px;
	font-size: 0;
	text-align: center;
}

.family-site__control {
	display: inline-block;
	width: 37px;
	height: 37px;
	background-position: center center;
	background-repeat: no-repeat;
    text-indent: -9999px;
    vertical-align: top;
}

.family-site__control.family-site__control--prev {
	background-image: url('../images/common/family-site__arrow--prev.png');
}

.family-site__control.family-site__control--pause {
	background-image: url('../images/common/family-site__pause.png');
}

.family-site__control.family-site__control--play {
	background-image: url('../images/common/family-site__play.png');
}

.family-site__control.family-site__control--next {
	background-image: url('../images/common/family-site__arrow--next.png');
}

.c-footer__aligner {
	padding: 40px 0;
	background-color: #515151;
	text-align: center;
}

.c-footer__infos {
	padding-top: 10px;
	font-size: 0;
	text-align: center;
}

.c-footer__info {
	display: inline-block;
	color: #cacaca;
	font-size: 14px;
	font-weight: 700;
}

.c-footer__info+.c-footer__info {
	margin-left: 15px;
}

.copyright {
	margin-top: 10px;
	color: #cacaca;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.main_privacy{
	margin-top: 10px;
	color: #cacaca;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}


@media ( max-width : 1280px) {
	.is-banner-active .c-wrap {
		margin-top: 80px;
	}
	.c-wrap {
		margin: 200px auto 0 auto;
	}
	.c-banner__aligner {
		width: 100%;
	}
	.c-banner__box {
		width: 600px;
	}
	.c-banner__close {
		top: 17px;
		right: -25px;
		width: 25px;
		height: 25px;
		background-size: 10px auto;
	}
	.c-banner .bx-controls-direction>a {
		width: 18px;
		height: 29px;
		background-size: 18px auto;
	}
	.c-banner .bx-prev {
		left: -54px
	}
	.c-banner .bx-next {
		right: -54px;
	}
	.c-banner .bx-pager-link {
		width: 8px;
		height: 8px;
		-webkit-border-radius: 8px;
		-ms-border-radius: 8px;
		border-radius: 8px;
	}
	.c-banner .bx-pager-link.active {
		width: 13px;
		height: 13px;
		-webkit-border-radius: 13px;
		-ms-border-radius: 13px;
		border-radius: 13px;
	}
	.c-banner__trigger {
		right: inherit;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.c-header {
		height: 80px;
		background-position: left 80px;
	}
	.c-header.c-header--active {
		height: 128px;
	}
	.c-header__aligner {
		height: 80px;
	}
	.c-header__align {
		width: auto;
		padding: 0 15px;
	}
	.c-h1 {
		left: 15px;
	}
	.c-logo img {
		max-width: 190px;
	}
	.c-navi {
		right: 0;
	}
	.c-gnb__link {
		padding: 10px 17px 20px 17px;
		font-size: 15px;
	}
	.c-depth2 {
		top: 49px;
		left: inherit;
		right: 0;
		width: 950px;
		text-align: right;
	}
	.c-depth2__item {
		width: auto;
	}
	.c-depth2__link {
		min-width: 100px;
		min-height: 0;
		padding: 16px 10px;
		font-size: 12px;
	}
	.c-gnb__item.c-gnb__item:nth-child(2) .c-depth2__link {
		padding: 16px 5px;
	}
	.c-depth2__item.c-depth2__item--depth3 .c-depth2__link:after {
		width: 6px;
		height: 6px;
		margin-left: 4px;
		background-size: 6px auto;
	}
	.c-depth3 {
		padding: 0;
	}
	.c-depth3__link {
		padding: 10px;
		font-size: 11px;
	}
	.c-quick {
		top: inherit;
		bottom: 200px;
		margin-top: 0;
		-webkit-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-moz-transform: translateY(0%);
		transform: translateY(0%);
	}
	.c-quick__list {
		width: 105px;
	}
	.c-quick__item {
		width: 105px;
	}
	.c-quick__item+.c-quick__item {
		margin-top: 7px;
	}
	.c-quick__link {
		width: 105px;
		height: 48px;
		padding: 0 5px 0 44px;
		background-position: 12px center;
		background-size: 25px auto;
		-webkit-border-top-left-radius: 48px;
		border-top-left-radius: 48px;
		-webkit-border-bottom-left-radius: 48px;
		border-bottom-left-radius: 48px;
		font-size: 13px;
	}
	.c-quick__link:focus, .c-quick__link:hover {
		width: 130px;
	}
	.c-quick-top__aligner {
		width: 100%;
	}
	.c-quick-top {
		bottom: 15px;
		right: 15px;
		width: 34px;
		height: 34px;
		-webkit-border-radius: 34px;
		-ms-border-radius: 34px;
		border-radius: 34px;
		background-size: 14px auto;
	}
	.family-site {
		width: auto;
		margin: 0 15px;
	}
	/* �迵�� */
	.footer_con{
		width: auto;
		margin: 0 15px;
		text-size: auto;
	}
	/* end */
}

@media ( max-width : 768px) {
	/* �迵�� */
	.waLogoDiv{
		width: 60px;
		margin: 0 auto;
		cursor:pointer;
		float: none;
	}
	.footer_con_logo{
		margin: 0 auto;
		float: none;
	}
	.footer_con_text{
		margin: 0 auto;
		float: none;
		width: 100%;
	}
	.footer_con{
		padding-bottom: 30px;
	}
	.footer_con_logo{
		width: auto;
	}
	/* end */
	.is-drawer-open body {
		overflow-y: hidden;
	}
	.is-banner-active .c-wrap {
		margin-top: 53px;
	}
	.c-wrap {
		margin: 143px auto 0 auto;
	}
	.c-banner.c-banner--active .c-banner__trigger {
		background-size: 10px auto;
	}
	.c-banner__trigger {
		left: inherit;
		bottom: -13px;
		right: 53px;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-moz-transform: translateX(0);
		transform: translateX(0);
		width: 20px;
		height: 13px;
		background-size: 10px auto;
	}
	.c-banner {
		top: -90px;
		height: 90px;
	}
	.c-banner__close {
		display: none;
	}
	.c-banner__box {
		width: 300px;
		padding: 20px 0;
	}
	.c-banner__box img {
		max-width: 100%;
		max-height: 50px;
	}
	.c-banner .bx-controls-direction>a {
		width: 9px;
		height: 14px;
		background-size: 9px auto;
	}
	.c-banner .bx-prev {
		left: -20px;
	}
	.c-banner .bx-next {
		right: -20px;
	}
	.c-banner .bx-pager {
		bottom: 7px;
	}
	.c-banner .bx-pager-link, .c-banner .bx-pager-link.active {
		width: 8px;
		height: 8px;
		-webkit-border-radius: 8px;
		-ms-border-radius: 8px;
		border-radius: 8px;
	}
	.c-quick {
		opacity: 0;
		visibility: hidden;
	}
	.c-gnb, .c-navi {
		display: none;
	}
	.c-header, .c-header__aligner {
		height: 53px;
	}
	.c-header {
		top: 90px;
	}
	.c-logo img {
		max-width: 181px;
	}
	.c-drawer__trigger {
		display: table;
	}
	.c-drawer.c-drawer--active {
		opacity: 1;
		visibility: visible;
	}
	.c-drawer.c-drawer--active .c-drawer__aligner {
		right: 0;
	}
	.is-banner-active .c-drawer {
		top: 0;
	}
	.is-banner-active .c-drawer__aligner {
		height: 100%;
	}
	.c-drawer {
		top: 90px;
	}
	.c-drawer__aligner {
		height: -webkit-calc(100% - 90px);
		height: -moz-calc(100% - 90px);
		height: calc(100% - 90px);
	}
	.c-footer {
		padding-top: 20px;
	}
	.family-site {
		padding-bottom: 10px;
	}
	.family-site__controls {
		margin-top: 5px;
	}
	.family-site__control {
		width: 30px;
		height: 30px;
		background-size: 8px auto;
	}
	.c-footer__aligner {
		padding: 10px 0 20px 0;
	}
	/*
	.c-footer__logo img {
		max-width: 140px;
	}
	.footeratag,
	.footeratag:hover {
		font-size: 11px;
	}
	.c-footer__info {
		display: block;
		font-size: 11px;
	}
	.c-footer__info+.c-footer__info {
		margin-top: 3px;
		margin-left: 0;
	}
	.copyright {
		font-size: 11px;
	}
	*/
	/* �迵�� */
	.c-footer__logo img {
		max-width: 180px;
	}
	.footeratag,
	.footeratag:hover {
		font-size: 10px;
	}
	.c-footer__info {
		display: block;
		font-size: 10px;
	}
	.c-footer__info+.c-footer__info {
		margin-top: 3px;
		margin-left: 0;
	}
	.copyright {
		font-size: 10px;
	}
	/* end */
}

@media ( max-width : 375px) {
	.c-wrap {
		margin: 133px auto 0 auto;
	}
	.c-header {
		top: 80px;
	}
	.c-banner {
		top: -80px;
		height: 80px;
	}
	.c-banner__box {
		width: 250px;
	}
	.c-drawer__aligner {
		max-width: 230px;
	}
	.c-drawer__links {
		padding: 8px 5px 0 5px;
	}
	.c-drawer__icon>span {
		font-size: 11px;
	}
	.c-drawer {
		top: 80px;
	}
	.c-drawer__aligner {
		height: -webkit-calc(100% - 80px);
		height: -moz-calc(100% - 80px);
		height: calc(100% - 80px);
	}
	.c-drawer__link {
		padding-top: 53px;
	}
	.c-drawer__link:before {
		width: 48px;
		height: 48px;
		-webkit-border-radius: 48px;
		border-radius: 48px;
		background-size: 22px auto;
	}
}